<div class="container">
  <%= simple_form_for @appointment do |f| %>
    <%= f.input :starts_at %>
  
    <%= f.association :doctor %>
    <%= f.association :patient %>
    <%= f.submit "appointment", class: "btn btn-primary" %>
  <% end %>

</div>